h1 {
  text-align: center;
  color: white;
}
body {
 background-color: white; 
}
#jead {
  position: fixed;
  width: 100%;
  height: 80px;
  padding-top: 20px;
  margin-top: -25px;
  margin-left: -10px;
  padding-right: 20px;
  background-color: #2e2e2e;
  border-bottom: 8px solid black;
}
#break {
  height: 100px;
}
.table {
  width: 50%;
  margin: auto;
  table-layout: fixed;
  margin-bottom: 10px;
}
th {
  background-color: #e8f4f8;
  border: 4px solid #99cfe0;
  text-align: center;
  padding: 25px;
  font-weight: bold;
}
td {
  background-color: #ddd3ee;
  border: 4px solid #A9A9A9;
  text-align: center;
  padding: 25px;
}
#table2 {
  table-layout: fixed;
  width: 10%;
  margin: auto;
}
.th2 {
  border: none;
  background-color: transparent;
  padding: 5px;
}
img {
  width: 50px; 
}
#forward {
  display: none; 
}
#Q2, #Q3, #Q4, #Q5, #Q6, #Q7, #Q8, #Q9 {
  display: none;
}
button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: none;
}
#dd2 {
  right: 20px;
  position: fixed;
  width: 13%;
}
#dd {
  left: 20px;
  position: fixed;
  width: 13%;
}
p {
  color: grey;
  font-size: 10px;
  position: fixed;
  bottom: 10px;
  max-width: 20%;
}
